[submodule "juce"]
	path = juce
	url = https://github.com/juce-framework/JUCE.git
[submodule "mi"]
	path = mi
	url = https://github.com/TheTechnobear/mi.git
[submodule "madronalib"]
	path = madronalib
	url = https://github.com/madronalabs/madronalib.git
[submodule "external/readerwriterqueue"]
	path = external/readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue
[submodule "ssp-sdk"]
	path = ssp-sdk
	url = https://github.com/thetechnobear/ssp-sdk
[submodule "lualib/lua"]
	path = lualib/lua
	url = https://github.com/lua/lua.git
[submodule "DaisySP"]
	path = DaisySP
	url = https://github.com/TheTechnobear/DaisySP.git
